/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
yarn.lock
/resources/views/index.blade.php
public/app.*.css
public/js
public/img
public/fonts
public/statics
public/manifest.json
public/service-worker.js

vueapp/src/Modules