/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.babelrc
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.postcssrc.js
.stylintrc
README.md
package-lock.json
package.json
quasar.conf.js
src/App.vue
src/assets/
src/components/
src/css/
src/i18n/
src/index.template.html
src/layouts/
src/pages/
src/plugins/
src/router/index.js
src/router/routes.js
src/statics/
src/store/
yarn.lock
